/* color setting */
$white-color: #fff;
$black-color: #000;
$gray-color: #ddd;
$orange-color: #ff6500;
$main-deep-color: #4b1400;
$main-light-color: #fffef7;

$footer-color: #dcdcdc;
$menu-color: #303030;
$booking-color: #e5e5e5;

$input-border-color: #ccc;
$input-focus-color: #efefef;
$shadow-color: #888888;

/* font setting */
$h40-size: 40px;
$h30-size: 30px;
$h25-size: 25px;
$h20-size: 20px;
$p-size: 16px;
$li-size: 18px;