/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}
a img {
	border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
html {
}
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto ;
}
/* CSS Reset end */

h1, h2, h3, h5 {
	font-family: Microsoft JhengHei;
}

h1 {
	margin: 20px 0;
	font-size: 30px;
}
h2 {
	margin: 20px 0;
	font-size: 23px;
}
h3 {
	margin-bottom: 10px;
	font-size: 20px;
}
h5 {
	font-size: 50px;
	font-weight: bold;
}
p {
	font-size: 18px;
}
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='Number'] {
	width: 100%;
    height: 30px;
    padding: 15px 10px;
    font-size: 16px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Microsoft JhengHei;
}
input[type='radio'] {
	
}
button {
	width: 80px;
    height: 35px;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Microsoft JhengHei;
}
/* Custom Css */
.wrap {
	max-width: 100%;
	margin: 0 auto;
	font-family: Microsoft JhengHei;
}

/* header-top */
.header-top {
	background: #000;
	height: 80px;
}
.header-top-container {
	display: block;
	width: 1080px;
	margin: 0 auto;
}
.logo {
	float: left;
}

.logo a {
	line-height: 80px;
	text-decoration: none;
	font-weight: bold;
	color: #f4aeae;
	font-size: 35px;
}

.menu{
	float: right;
}
.menu li{
	float: left;
	margin: 0 3px;
}
.menu li a{
	color:#fff;
	display: block;
	width: 100px;
	text-align: center;
	line-height: 80px;
	text-decoration: none;
}
/* header-top End */

/* header */
.header{
	position: relative;
	height: 500px;
	background: url(../img/header_desktop@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header-state {
	position: absolute;
	margin: 0px auto;
	padding: 15px;
	top: 120px;
	left: 0; 
  	right: 0; 
	max-width: 500px;
	height: auto;
	background: rgba(25, 25, 25, .5);
	border-radius: 5px;
	text-align: center;
	color: #fff;
}

.header-state span {
	display: block;
}
.header-state-title {
	margin: 35px 0;
	font-size: 40px;
}
.header-state-sub {
	margin: 15px 0;
	line-height: 40px;
	font-size: 20px;
}

@media (max-width: 768px){
	.header{
		height: auto;
		padding-bottom: 1em;
	}
}
/* header End */

/* content */
.content {
	background: #fffef7;
}
.content-container {
	display: block;
	width: 1080px;
	margin: 0 auto;
	text-align: center;
	color: #4b1400;
}
.content-container > div {
	padding: 20px;
}
/* content-reason */
.reason-header {
	line-height: 45px;
	margin: 30px 15px 50px 15px;
}
.content-reason .reason {
	padding: 25px;
	width: 33%;
	display: inline-block;
}
	.reason img {
		border-radius: 50%;
		margin-bottom: 15px; 
	}
	.reason {
		font-size: 18px;
	}

/* content-chef */
.content-chef {
	display: flex;
	background: #4b1400;
	color: white;
}
.content-chef > div {
	display: inline-block;
}
.content-chef .chef-photo {
	flex: 1;
	max-width: calc(40% - 20px);
}
.content-chef .chef-describe {
	flex: 1;
	width: calc(60% - 20px);
	padding: 10px;
	display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}
/* content-chef End */

/* content-comment */
.comment-header {
	margin: 30px 15px;
}
.content-comment .comment {
	display: inline-block;
	padding: 25px;
	width: 33%;
}
.comment .guest {
	margin-bottom: 30px
}
.comment .guest img {
	vertical-align: middle;
	border-radius: 50%;
	width: 30%;
}
.comment .guest .guest-name {
	margin-left: 20px;
	font-size: 18px;
}
.comment .guest-state {
	height: 150px;
	overflow-y: auto;
	margin-bottom: 30px
}
.comment .guest-sign {
	text-align: right;
}
/* content-comment End */

/* content-booking */
.content-booking {
	height: 630px;
	background: #e5e5e5;
}
.booking-header {
    margin-bottom: 50px;
}
.booking > li {
	display: inline-block;
	float: left;
	width: 50%;
}
.booking .booking-map {
}
.booking .booking-form {
	position: relative;
	padding: 10px 20px;
	text-align: left;
	height: 440px;
}
.booking-form .form-input {
	margin-bottom: 10px;
}
.booking-form .form-input span {
	margin-right: 20px;
}
.booking-form .form-button {
	position: absolute;
	bottom: 8px;
    right: 16px;
	text-align: right;
}
/* content-comment End */

/* footer */
.footer {
	background: #fffef7;
	height: 80px;
	color: #4b1400;
}
.footer-container {
	display: block;
	width: 1080px;
	margin: 0 auto;
}
.footer-about > li {
	display: inline-block;
	float: left;
	width: 33.33333%;
	padding: 25px;
}

.footer-about > li:last-of-type {
	text-align: right;
}
.footer-info {
	list-style: inherit;
}
/* footer End */