/* feature.html */
.feature-goods,
.feature-sale {
	float: left;
	margin-top: 20px;
}
.feature-goods {
	width: 20%;
	text-align: left;
	padding: 0 15px 0 10px;
	h2 {
		line-height: 30px;
	}
	@include pad {
		width: 30%;
	}
	@include big-phone {
		width: 35%;
	}
	@include mid-phone {
		float: none;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 35px;
	}
}
.feature-sale {
	width: 80%;
	margin: 20px 0;
	padding: 0 20px;
	@include pad {
		width: 70%;
	}
	@include big-phone {	
		width: 65%;
	}
	@include mid-phone {
		float: none;
		width: 90%;
		margin: 0 auto;
	}
}
.goods-list {
	margin-bottom: 10px;
	li {
		font-size: $li-size;
		padding: 15px 5px 15px 5px;
		border-bottom: 1px solid $black-color;
		line-height: 25px;
	}
	li:hover {
		color: $white-color;
		background: $main-deep-color;
	}
}
.sale-option {
	overflow: auto;
	line-height: 35px;
	margin-bottom: 10px;
	@include big-phone {
		overflow: auto;
	}
}
.sale-search {
	width: 70%;
	float: left;
	input {
		border: 1px solid $main-deep-color;
	    border-radius: 0;
		width: 75%;
		float: left;	
	}
	button {
		border: 1px solid $main-deep-color;
	    border-radius: 0;
	    background: $main-deep-color;
		width: 15%;
		min-width: 60px;
		height: 32px;
		margin: 0;
		float: left;
		text-align: center;
	}
	@include big-phone {
		display: inline-block;
		width: 100%;
		float: none;
	}
}
.sale-cart {
	width: 30%;
	height: inherit;
	line-height: inherit;
	float: right;
	font-size: $h20-size;
	text-align: right;
	@include big-phone {
		display: inline-block;
		width: 100%;
		float: none;
	}
}
.sale-list {
	li {
		position: relative;
		border: 1px solid $gray-color;
		float: left;
		width: 32.3333%;
		margin: 15px 0.5%;
		box-shadow: 5px 5px 10px $shadow-color;
		transition-duration: 0.3s;
		height: 330px;
		h3 {
			margin-top: 20px;
		}
		button {
			width: 90%;
			background: inherit;
			color: $orange-color;
			border: 2px solid $orange-color;
		    -webkit-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
		    position: absolute;
		    bottom: -10px;
			@include big-phone {
	    		-webkit-transform: none;
	    		transform: none;
	    		position: initial;
			}
		}
		button:hover {
			background: $orange-color;
			color: $white-color;
		}
		.sale-like {
			position: absolute;
			top: 5px;
			left: 5px;
			color: $white-color;
			@include big-phone {
				top: 15px;
	    		left: 15px;
			}
		}
		.sale-like i {
			font-size: 26px;
		}
		.divide-line {
			width: 60%;
		    border-bottom: 1px solid $black-color;
		    margin: 10px auto;
		}
		.money-style {
			font-weight: bold;
			font-family: monospace;
		}
		@include min-desktop {
			width: 49%;
			height: 370px;
		}
		@include big-phone {
			padding: 10px;
			float: none;
			width: 100%;
			height: auto;
		}
	}
	li:hover {
		-webkit-transform: translateY(-8px);
	    transform: translateY(-8px);
	    cursor: pointer;
	}
}
/* feature.html End */