/* logon.html */
.logon-div {
	width: 70%;
	margin: 40px auto;
	border: 1px solid $gray-color;
	border-top: 6px solid $orange-color;
	box-shadow: 5px 5px 10px $shadow-color;
	overflow: auto;
	> div {
		float: left;
		padding: 0 15px;
		text-align: left;
		width: calc(50% - 2px);
		@include big-phone {
			float: none;
			width: 100%;
		}
	}
}
.logon-rule {
	h3 {
		font-weight: bold;
	}
	@include big-phone {
		padding: 20px;
		margin-bottom: 25px;
	}
}
.logon-form {
	position: relative;
	padding: 10px 20px;
	text-align: left;
	height: 280px;
	.form-input {
		margin-bottom: 10px;
	}
	.form-button {
		position: absolute;
		bottom: 8px;
	    right: 16px;
		text-align: right;
	}
	a {
	    font-size: ($p-size - 2px);
	    color: $orange-color;
	}
	input[type='email']{
		background-image: url(../img/mail.png);
		background-repeat: no-repeat;
		background-position: 7px 7px;
	}
	input[type='password']{
		background-image: url(../img/locked.png);
		background-repeat: no-repeat;
		background-position: 7px 7px;
	}
	input:focus{
		background-image: none;
	}
}
/* logon.html End */